<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPod????</key>
	<dict/>
	<key>iPod???</key>
	<dict/>
	<key>iPhone2,1</key>
	<dict>
		<key>8A293</key>
		<dict>
			<key>required</key>
			<array>
				<dict>
					<key>patch</key>
					<false/>
					<key>decrypt</key>
					<false/>
					<key>target</key>
					<string>kernel.40</string>
					<key>file</key>
					<string>/kernelcache.release.n88</string>
					<key>name</key>
					<string>Kernel</string>
				</dict>
				<dict>
					<key>patch</key>
					<false/>
					<key>decrypt</key>
					<false/>
					<key>target</key>
					<string>devtree.40</string>
					<key>file</key>
					<string>/Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					<key>name</key>
					<string>Device Tree</string>
				</dict>
			</array>
			<key>md5_sum</key>
			<string>f9819ad9a52324ac6f10e4a0ea581cbd</string>
			<key>md5_validates</key>
			<false/>
			<key>file</key>
			<string>iPhone2,1_4.0_8A293_Custom_Restore.ipsw</string>
			<key>name</key>
			<string>4.0</string>
		</dict>
		<key>7D11</key>
		<dict>
			<key>required</key>
			<array>
				<dict>
					<key>patch_file</key>
					<string>ibec.patch</string>
					<key>patch</key>
					<true/>
					<key>iv</key>
					<string>f9aac54a68b2fad383ca759057ad13df</string>
					<key>key</key>
					<string>ec66b545ca47dc353f3f7595a80ffa74d54ca5bf586cfe769d70d117bf196073</string>
					<key>decrypt</key>
					<true/>
					<key>target</key>
					<string>ibec.40</string>
					<key>file</key>
					<string>/Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
					<key>name</key>
					<string>iBEC</string>
				</dict>
				<dict>
					<key>patch_file</key>
					<string>iboot.patch</string>
					<key>patch</key>
					<true/>
					<key>iv</key>
					<string>127aa60e77da219961ee70707f44cbd4</string>
					<key>key</key>
					<string>c72ab4aae971f3a9ec356dfe555e4aef72d8e96c480698445ac236904e6a3443</string>
					<key>decrypt</key>
					<true/>
					<key>target</key>
					<string>iboot.payload</string>
					<key>file</key>
					<string>/Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
					<key>name</key>
					<string>iBoot</string>
				</dict>
			</array>
			<key>md5_sum</key>
			<string>089769d37b846917394ffe11da9d2e17</string>
			<key>md5_validates</key>
			<true/>
			<key>file</key>
			<string>iPhone2,1_3.1.2_7D11_Restore.ipsw</string>
			<key>name</key>
			<string>3.1.2</string>
		</dict>
	</dict>
</dict>
</plist>
