<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPod3,1</key>
	<dict>
		<key>firmwares</key>
		<dict>
			<key>8A293</key>
			<dict>
				<key>files</key>
				<array>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>kernel</string>
						<key>path</key>
						<string>/kernelcache.release.n18</string>
						<key>name</key>
						<string>Kernel</string>
					</dict>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>devicetree</string>
						<key>path</key>
						<string>/Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						<key>name</key>
						<string>Device Tree</string>
					</dict>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>ibec</string>
						<key>path</key>
						<string>/Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						<key>name</key>
						<string>iBec</string>
					</dict>
				</array>
				<key>stock</key>
				<false/>
				<key>md5</key>
				<string>6b9d65c9f63792968bad57e44a73434f</string>
				<key>version</key>
				<string>4.0</string>
				<key>id</key>
				<string>8A293</string>
			</dict>
			<key>7D11</key>
			<dict>
				<key>files</key>
				<array>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string>iboot.patch</string>
						<key>iv</key>
						<string>6e7dc46c6a9cf573dda9af515c1b50ac</string>
						<key>key</key>
						<string>eabfe2fc4bad7f97c090ed021e7fd80a7463251c4919a3c637d2a0c529b79d5a</string>
						<key>target</key>
						<string>iboot.payload</string>
						<key>path</key>
						<string>/Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						<key>name</key>
						<string>iBoot</string>
					</dict>
				</array>
				<key>stock</key>
				<true/>
				<key>md5</key>
				<string>13938eaca91e12e7cefb47717e7cadc8</string>
				<key>version</key>
				<string>3.1.2</string>
				<key>id</key>
				<string>7D11</string>
			</dict>
		</dict>
		<key>name</key>
		<string>iPod Touch 3G</string>
		<key>id</key>
		<string>iPod3,1</string>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>firmwares</key>
		<dict>
			<key>8A293</key>
			<dict>
				<key>files</key>
				<array>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>kernel</string>
						<key>path</key>
						<string>/kernelcache.release.n72</string>
						<key>name</key>
						<string>Kernel</string>
					</dict>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>devicetree</string>
						<key>path</key>
						<string>/Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						<key>name</key>
						<string>Device Tree</string>
					</dict>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>ibec</string>
						<key>path</key>
						<string>/Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						<key>name</key>
						<string>iBec</string>
					</dict>
				</array>
				<key>stock</key>
				<false/>
				<key>md5</key>
				<string>41dd8ab40159a13d7be42cd7e5f3a479</string>
				<key>version</key>
				<string>4.0</string>
				<key>id</key>
				<string>8A293</string>
			</dict>
			<key>7D11</key>
			<dict>
				<key>files</key>
				<array>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string>iboot.patch</string>
						<key>iv</key>
						<string>5e421f8ce8c811311bbbb8a734ec07ce</string>
						<key>key</key>
						<string>191b6846543d7026b6f0d5247f030588</string>
						<key>target</key>
						<string>iboot.payload</string>
						<key>path</key>
						<string>/Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						<key>name</key>
						<string>iBoot</string>
					</dict>
				</array>
				<key>stock</key>
				<true/>
				<key>md5</key>
				<string>35c66be376201082a005f0a289f26a65</string>
				<key>version</key>
				<string>3.1.2</string>
				<key>id</key>
				<string>7D11</string>
			</dict>
		</dict>
		<key>name</key>
		<string>iPod Touch 2G</string>
		<key>id</key>
		<string>iPod2,1</string>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>firmwares</key>
		<dict>
			<key>8A293</key>
			<dict>
				<key>files</key>
				<array>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>kernel</string>
						<key>path</key>
						<string>/kernelcache.release.n88</string>
						<key>name</key>
						<string>Kernel</string>
					</dict>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>devicetree</string>
						<key>path</key>
						<string>/Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						<key>name</key>
						<string>Device Tree</string>
					</dict>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string></string>
						<key>key</key>
						<string></string>
						<key>target</key>
						<string>ibec</string>
						<key>path</key>
						<string>/Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						<key>name</key>
						<string>iBec</string>
					</dict>
				</array>
				<key>stock</key>
				<false/>
				<key>md5</key>
				<string>f9819ad9a52324ac6f10e4a0ea581cbd</string>
				<key>version</key>
				<string>4.0</string>
				<key>id</key>
				<string>8A293</string>
			</dict>
			<key>7D11</key>
			<dict>
				<key>files</key>
				<array>
					<dict>
						<key>encrypt</key>
						<false/>
						<key>patch</key>
						<string>iboot.patch</string>
						<key>iv</key>
						<string>127aa60e77da219961ee70707f44cbd4</string>
						<key>key</key>
						<string>c72ab4aae971f3a9ec356dfe555e4aef72d8e96c480698445ac236904e6a3443</string>
						<key>target</key>
						<string>iboot.payload</string>
						<key>path</key>
						<string>/Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						<key>name</key>
						<string>iBoot</string>
					</dict>
				</array>
				<key>stock</key>
				<true/>
				<key>md5</key>
				<string>089769d37b846917394ffe11da9d2e17</string>
				<key>version</key>
				<string>3.1.2</string>
				<key>id</key>
				<string>7D11</string>
			</dict>
		</dict>
		<key>name</key>
		<string>iPhone 3G [S]</string>
		<key>id</key>
		<string>iPhone2,1</string>
	</dict>
</dict>
</plist>
