<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPod3,1</key>
	<dict>
		<key>firmwares</key>
		<dict>
			<key>8A293</key>
			<dict>
				<key>files</key>
				<array/>
				<key>stock</key>
				<false/>
				<key>md5</key>
				<string>6b9d65c9f63792968bad57e44a73434f</string>
				<key>version</key>
				<string>4.0</string>
				<key>id</key>
				<string>8A293</string>
			</dict>
			<key>7D11</key>
			<dict>
				<key>files</key>
				<array/>
				<key>stock</key>
				<true/>
				<key>md5</key>
				<string>13938eaca91e12e7cefb47717e7cadc8</string>
				<key>version</key>
				<string>3.1.2</string>
				<key>id</key>
				<string>7D11</string>
			</dict>
		</dict>
		<key>name</key>
		<string>iPod Touch 3G</string>
		<key>New item</key>
		<string>iPod3,1</string>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>firmwares</key>
		<dict>
			<key>8A293</key>
			<dict>
				<key>files</key>
				<array/>
				<key>stock</key>
				<false/>
				<key>md5</key>
				<string></string>
				<key>version</key>
				<string>4.0</string>
				<key>id</key>
				<string>8A293</string>
			</dict>
			<key>7D11</key>
			<dict>
				<key>files</key>
				<array/>
				<key>stock</key>
				<true/>
				<key>md5</key>
				<string></string>
				<key>version</key>
				<string>3.1.2</string>
				<key>id</key>
				<string>7D11</string>
			</dict>
		</dict>
		<key>name</key>
		<string>iPod Touch 2G</string>
		<key>New item</key>
		<string>iPod2,1</string>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>firmwares</key>
		<dict>
			<key>8A293</key>
			<dict>
				<key>files</key>
				<array>
					<dict>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string>2bfaa179582e267ad80f4cc91f46940f</string>
						<key>key</key>
						<string>d6d5ac10136dcee693abb0364c011c5e23c46afdbe435b2eaa68e5c809becd31</string>
						<key>target</key>
						<string>kernel.40</string>
						<key>path</key>
						<string>/kernelcache.release.n88</string>
						<key>name</key>
						<string>Kernel</string>
					</dict>
					<dict>
						<key>patch</key>
						<string></string>
						<key>iv</key>
						<string>6fbe76fd654a6f38c6a29a22f484d6d1</string>
						<key>key</key>
						<string>90e108e46e4ac83dec5d3af977a2d95d4589401cf3c1a23e5cbf525263038944</string>
						<key>target</key>
						<string>devtree.40</string>
						<key>path</key>
						<string>/Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						<key>name</key>
						<string>Device Tree</string>
					</dict>
				</array>
				<key>stock</key>
				<false/>
				<key>md5</key>
				<string>f9819ad9a52324ac6f10e4a0ea581cbd</string>
				<key>version</key>
				<string>4.0</string>
				<key>id</key>
				<string>8A293</string>
			</dict>
			<key>7D11</key>
			<dict>
				<key>files</key>
				<array>
					<dict>
						<key>patch</key>
						<string>ibec.patch</string>
						<key>iv</key>
						<string>f9aac54a68b2fad383ca759057ad13df</string>
						<key>key</key>
						<string>ec66b545ca47dc353f3f7595a80ffa74d54ca5bf586cfe769d70d117bf196073</string>
						<key>target</key>
						<string>ibec.40</string>
						<key>path</key>
						<string>/Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						<key>name</key>
						<string>iBEC</string>
					</dict>
					<dict>
						<key>patch</key>
						<string>iboot.patch</string>
						<key>iv</key>
						<string>127aa60e77da219961ee70707f44cbd4</string>
						<key>key</key>
						<string>c72ab4aae971f3a9ec356dfe555e4aef72d8e96c480698445ac236904e6a3443</string>
						<key>target</key>
						<string>iboot.payload</string>
						<key>path</key>
						<string>/Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						<key>name</key>
						<string>iBoot</string>
					</dict>
				</array>
				<key>stock</key>
				<true/>
				<key>md5</key>
				<string>089769d37b846917394ffe11da9d2e17</string>
				<key>version</key>
				<string>3.1.2</string>
				<key>id</key>
				<string>7D11</string>
			</dict>
		</dict>
		<key>name</key>
		<string>iPhone 3G [S]</string>
		<key>id</key>
		<string>iPhone2,1</string>
	</dict>
</dict>
</plist>
