<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stock</key>
		<true/>
		<key>mode</key>
		<integer>4737</integer>
		<key>boot</key>
		<false/>
		<key>wait</key>
		<integer>0</integer>
		<key>command</key>
		<string></string>
		<key>exploit</key>
		<true/>
		<key>upload</key>
		<string>iboot.payload</string>
	</dict>
	<dict>
		<key>stock</key>
		<false/>
		<key>mode</key>
		<string>0x1281</string>
		<key>boot</key>
		<false/>
		<key>wait</key>
		<integer>10</integer>
		<key>command</key>
		<string>go</string>
		<key>exploit</key>
		<false/>
		<key>upload</key>
		<string>ibec.40</string>
	</dict>
	<dict>
		<key>stock</key>
		<false/>
		<key>mode</key>
		<integer>4647</integer>
		<key>boot</key>
		<false/>
		<key>wait</key>
		<integer>0</integer>
		<key>command</key>
		<string>devicetree</string>
		<key>exploit</key>
		<false/>
		<key>upload</key>
		<string>devtree.40</string>
	</dict>
	<dict>
		<key>stock</key>
		<false/>
		<key>mode</key>
		<integer>4647</integer>
		<key>boot</key>
		<true/>
		<key>wait</key>
		<integer>0</integer>
		<key>command</key>
		<string>bootx</string>
		<key>exploit</key>
		<false/>
		<key>upload</key>
		<string>kernel.40</string>
	</dict>
</array>
</plist>
